<div class="book-reader">

    <div class="book-reader__book">

        <div class="book-reader__pages">
        </div>

        <div class="book-reader__page-number">
        </div>

    </div>


    <div class="book-reader__controls">

        <button
            class="book-reader__button book-reader__button--previous"
            type="button"
        >
            ← Anterior
        </button>


        <span class="book-reader__counter">
            1 / 1
        </span>


        <button
            class="book-reader__button book-reader__button--next"
            type="button"
        >
            Próxima →
        </button>

    </div>


    <div class="book-reader__source">

        {{ content }}

    </div>

</div>